$yellow-green-crayola: #d0db97ff;
$medium-sea-green: #69b578ff;
$fern-green: #3a7d44ff;
$british-racing-green: #254d32ff;
$raisin-black: #181d27ff;

$zombie-image-height: 1067px;
$zombie-image-width: 800px;
* {
    margin: 0;
    padding: 0;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: $raisin-black;
    &__title {
        color: $british-racing-green;
    }
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: $fern-green;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.2s ease-in-out;
    &__button {
        height: 100px;
        width: 260px;
        font-size: 1.2em;
        background-color: $raisin-black;
        color: $fern-green;
    }
    &__button:hover {
        cursor: pointer;
    }
}
.game {
    cursor: crosshair;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in;
}
.userStats{
    display: flex;
    align-items: center;
    gap: 20px;
    &__element{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80px;
        height: 55px;
        font-size: 1.5em;
        color:$yellow-green-crayola ;
        background-color: $raisin-black;
        z-index: 1;
        &--ammo:hover{
            cursor: pointer;
        }
    }
}
.zombie{
    position: absolute;
    height: calc($zombie-image-height/6);
    width: calc($zombie-image-width/6);
    transition:0.1s top;
    background-size: cover;
    background-image: url(../img/zombie.png);
}
.hidden {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    transform: scale(0);
}
